/* ChangePassword.css */
.row{
  padding-left: 444px;
  padding-bottom: 10px;
}
.changepassword {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 20px;
  }
  
  .container {
    text-align: center;
    margin: 20px;
  }
  
  .heading {
    padding-bottom: 10px;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .input {
    padding: 5px;
    margin: 5px;
  }
  
  .button {
    background: #0074cc;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .status {
    margin-top: 10px;
  }
  